<section class="section" id="section2">
    <div class="about-container">
        <div class="about-content">
            
            <div class="about-grid">
                <div class="about-text">
                    <p class="about-intro">
                        Дизайнер по образованию, есть широкий опыт работы в данной сфере (преимущественно с полиграфией). Несколько лет руководил командой техподдержки на разных IT-проектах. Занимался сопровождением световых и интерактивных решений в воронежском клубе Plato. Главная моя стрась - генеративная графика, интерактивные инсталляции и аудиовизуальные перформансы
                    </p>
                    
                    <div class="about-details">
                        <h3>Что я делаю:</h3>
                        <ul class="about-skills">
                            <li>Медиа-инжиниринг: работа со светом, звуком, монтаж, 3d-прототипирование стендов, каркасов, витрин и прочего, работа с контроллерами (Arduino, ESP 32, Raspberry Pi)</li>
                            <li>Генеративная графика: Touchdesigner, p5js, GLSL, cables.gj, аналоговые решения. Работал в техподе с 2021-го, есть опыт сопровождения продуктов от архитектуры проекта до его финального внедрения. Ещё знаю Kotlin шушуть совсем (:</li>
                            <li>Front-end (Node.js, Webpack, React, TS): знаний + опыта на крепкого джуна</li>
                            <li>Полиграфическая продукция: вёрстка, предпечатная подготовка</li>
                            <li>Фотообработка (цветокор, редактирование)</li>
                        </ul>
                    </div>
                </div>
                
                <div class="about-image">
                    <img src="assets/images/yaya.png" alt="Обо мне">
                </div>
            </div>
        </div>
        <!-- Фоновое изображение (на заднем плане) -->
        <div class="about-background-image">
            <img src="assets/images/hero-background.jpg" alt="Background">
        </div>
    </div>
</section>